	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/02/2019 13:31
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot%3F") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2.html") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-paint-palette:before { content: "\f100"; }
.flaticon-paintbrush:before { content: "\f101"; }
.flaticon-tea:before { content: "\f102"; }
.flaticon-quote:before { content: "\f103"; }
.flaticon-heart:before { content: "\f104"; }
.flaticon-diamond:before { content: "\f105"; }
.flaticon-diamond-1:before { content: "\f106"; }
.flaticon-target:before { content: "\f107"; }
.flaticon-bell:before { content: "\f108"; }
.flaticon-plus:before { content: "\f109"; }
.flaticon-pin:before { content: "\f10a"; }
.flaticon-target-1:before { content: "\f10b"; }
.flaticon-support:before { content: "\f10c"; }
.flaticon-target-2:before { content: "\f10d"; }
.flaticon-target-3:before { content: "\f10e"; }
.flaticon-like:before { content: "\f10f"; }
.flaticon-spread:before { content: "\f110"; }
.flaticon-coffee-cup:before { content: "\f111"; }
.flaticon-quote-1:before { content: "\f112"; }
.flaticon-pie-chart:before { content: "\f113"; }
.flaticon-chart:before { content: "\f114"; }
.flaticon-aim:before { content: "\f115"; }
.flaticon-diet:before { content: "\f116"; }
.flaticon-tomato:before { content: "\f117"; }
.flaticon-pumpkin:before { content: "\f118"; }
.flaticon-vegetarian:before { content: "\f119"; }
.flaticon-garlic:before { content: "\f11a"; }
.flaticon-fruit:before { content: "\f11b"; }